receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
processors:
  batch: {}
exporters:
%{ if espresso_enabled ~}
  otlphttp/espresso:
    endpoint: "${espresso_endpoint}"
    headers:
      x-api-key: $${env:ESPRESSO_AI_API_KEY}
    sending_queue:
      enabled: true
    retry_on_failure:
      enabled: true
%{ endif ~}
%{ if customer_enabled ~}
  ${customer_exporter_key}:
    endpoint: "${customer_endpoint}"
%{ if customer_use_espresso_api_key ~}
    headers:
      x-api-key: $${env:ESPRESSO_AI_API_KEY}
%{ else ~}
%{ if customer_auth ~}
    headers:
      authorization: $${env:CUSTOMER_OTLP_AUTH}
%{ endif ~}
%{ endif ~}
    tls:
      insecure: ${customer_tls_insecure}
    sending_queue:
      enabled: true
    retry_on_failure:
      enabled: true
%{ endif ~}
service:
  pipelines:
%{ for signal in ["traces", "metrics", "logs"] ~}
%{ if espresso_enabled || (customer_enabled && contains(customer_signals, signal)) ~}
    ${signal}:
      receivers: [otlp]
      processors: [batch]
      exporters:
%{ if espresso_enabled ~}
      - otlphttp/espresso
%{ endif ~}
%{ if customer_enabled && contains(customer_signals, signal) ~}
      - ${customer_exporter_key}
%{ endif ~}
%{ endif ~}
%{ endfor ~}
